:javascript
  $(function() {
    $('table').tablesorter();
  });

%h1 Backpack

%h2 Unique Items
%table
  %thead
    %th Item Slot
    %th Item Name
    %th Equipped By
  %tbody
    - firsts.each do |item|
      %tr{:class => if item[:equipped_by].empty? then 'not-equipped' else 'equipped' end } 
        %td= item_slot item[:defindex]
        %td= real_name item[:defindex]
        %td
          - inits = item[:equipped_by].collect do |i| 
            %img{:src => "/valve-imgs/20px-Leaderboard_class_#{i.downcase}.png"}

%h2 Dupes 
%ul
  - dupes.each do |item|
    %li 
      = real_name item[:defindex]
