%h1 Backpack

%h2 Unique Items
%ul
  - firsts.each do |item|
    %li{:class => if item[:equipped_by].empty? then 'not-equipped' else 'equipped' end } 
      = real_name item['defindex']
      ( Slot = 
      = item_slot item['defindex']
      )
      - unless item[:equipped_by].empty?
        %ul
          %li 
            Equipped by
            = item[:equipped_by].join(', ')

%h2 Dupes 
%ul
  - dupes.each do |item|
    %li 
      = real_name item['defindex']
