:textile
  h1. Sorry!

%div
  :textile
    Unfortunately an error has occurred, this might be because the Steam API has responded
    to me with an error so please try your request again.  The API does seem to be giving
    elevated error rates currently.

    If you've seen this message multiple times, please let me know by opening an issue, or
    sending me an message via GitHub (https://github.com/ApocalypticDingleberry/Hatstand).

    Thanks!
