:javascript
  $(function() {
    $('#user_submit').click(function() {
      window.location.href = '/u/' + $('#user_txt').val();
    });
  });

%h1
  %img.avatar{:alt => 'avatar', :src => 'http://media.steampowered.com/apps/440//icons/mining_hat.png'}
  %span Welcome to Hatstand!

#container
  :textile
    h3. Welcome!

    Hatstand is a simple viewer for your Team Fortress backpack.  You can view your backpack either by directly visiting "http://hatstand.heroku.com/u/your_steam_community_url":/u/your_steam_community_url
    (eg. "http://hatstand.heroku.com/u/ApocalypticDingleberry":/u/ApocalypticDingleberry).
    Alternatively enter your community id in the box below and press enter.

    Unfortunately at present this will only work if your profile is publicly viewable.

  %form#user_form{:action => '#'}
    %input#user_txt
    %input#user_submit{:value => 'Submit', :type => 'button'}

  %hr

  :textile
    h4. Construction

    This app is written in Ruby using Sinatra, Haml, Sass and Mongoid (& others see "this list":https://github.com/PaulTaylor/Hatstand/blob/master/Gemfile for full dependency details).  Infrastructure is provided by "Heroku":http://heroku.com and "MongoHQ":http://mongohq.com.

    You can see the code at "GitHub":http://github.com/PaulTaylor/Hatstand.

