-# coding: utf-8
!!! 5
%html
  %head
    %title Hatstand
    %meta{:name => "google-site-verification", :content => "SMhhPnOTJurkOq8HHrtWJaPml57r0FmQgy6yZVm2Srg"}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/main.css', :media => 'screen'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/tipsy.css', :media => 'screen'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Amaranth', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript',
      :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    - ['jquery.tablesorter', 'protovis-r3.2', 'jquery.qtip-1.0.min'].each do |js|
      %script{:type => 'text/javascript', :src => "/javascript/#{js}.js"}
  %body
    #content
      = yield
      #footer
        This site includes images from the
        %a{:href => 'http://wiki.teamfortress.com'}
          Team Fortress 2 Wiki
        %br
        %a{:href => 'http://heroku.com'} Hosted by Heroku
        = ' - '
        %a{:href => 'http://steampowered.com'} Powered by Steam
        = ' - '
        %a{:href => '/privacy'}
          Privacy Policy &amp; T&amp;Cs
