!!!
%html
  %head
    %title Hatstand
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/main.css', :media => 'screen'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/blue/style.css', :media => 'screen'}
    %script{:type => 'text/javascript', 
      :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    - ['jquery.tablesorter', 'protovis-d3.2'].each do |js|
      %script{:type => 'text/javascript', :src => "/javascript/#{js}.js"}
  %body
    #content
      = yield
      #footer
        This site includes images from the
        %a{:href => 'http://wiki.teamfortress.com'}
          Team Fortress 2 Wiki
        %br
        %a{:href => 'http://heroku.com'} Hosted by Heroku
        = ' - '
        %a{:href => 'http://steampowered.com'} Powered by Steam
        = ' - '
        %a{:href => '/privacy'}
          Privacy Policy &amp; T&amp;Cs
