!!!
%html
  %head
    %title Hatstand
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/main.css', :media => 'screen'}
    - ['jquery', 'jquery.tablesorter'].each do |js|
      %script{:type => 'text/javascript', :src => "/javascript/#{js}.js"}
  %body
    #content
      = yield
    #footer
      %a{:href => 'http://heroku.com'} Hosted by Heroku
      = ' - '
      %a{:href => 'http://steampowered.com'} Powered by Steam
      = ' - '
      %a{:href => '/privacy'}
        Privacy Policy &amp; T&amp;Cs

