/* http://www.colourlovers.com/palette/297781/TF2_RED_2.0
/* http://www.colourlovers.com/palette/297782/TF2_BLU_2.0

$border_color: #373331

body
  font-family: "Calibri", sans-serif
  border-color: #373331
  background-color: #6B6964
  width: 800px
  margin: 0 auto

.item_name
  padding-left: 1.5em

#content
  width: 100%
  padding: 1em 
  h1
    padding: 1em 0.5em
    color: white
    border: 4px solid
    border-color: $border_color
    background-color: #445A77
  div
    border: 4px solid
    border-color: $border_color
    background-color: #788987
    padding: 1em
    margin-bottom: 1em
  #footer
    background-color: #953233
    text-align: center

div#vis_content
  border: 0

td, li
  width: 50%

small
  font-size: small

a
  color: black
  font-style: italic
  font-weight: bold
  text-decoration: none


.avatar
  margin-right: -0.45em
  margin-top: -0.95em
  position: relative
  float: right
  width: 3em
