/* http://www.colourlovers.com/palette/297781/TF2_RED_2.0
/* http://www.colourlovers.com/palette/297782/TF2_BLU_2.0

$border_color: #373331

body
  font-family: 'Source Sans Pro', sans-serif
  border-color: #373331
  background-color: #6B6964
  width: 800px
  margin: 0 auto

.item_name
  padding-left: .5em

hr
  border: 0
  color: $border_color
  background-color: $border_color
  height: 1px

#content
  width: 100%
  padding: 1em
  h1, div
    border-radius: 25px
  h1
    padding: 0
    color: white
    border: 4px solid
    border-color: $border_color
    background-color: #445A77
  div
    border: 4px solid
    border-color: $border_color
    background-color: #788987
    padding: 0 1em
    margin-bottom: 1em
    .expando
      border: 0
      padding: 0
  #footer
    padding: 1em 0
    background-color: #953233
    text-align: center

div#vis_content
  border: 0

td, li
  width: 50%

small
  font-size: small

a
  color: black
  font-style: italic
  font-weight: bold
  text-decoration: none

.avatar
  margin: 0.5em
  position: relative
  vertical-align: middle
  width: 3em

.qtip-contentWrapper
  border: 0

.qtip-content
  img
    padding: 0
    display: block
    margin-left: auto
    margin-right: auto

table.tablesorter
  background-color: #CDCDCD
  margin: 10px 0pt 15px
  font-size: smaller
  width: 100%
  text-align: left
  thead tr th, tfoot tr th
    background-color: rgba(255,255,255,.7)
    border: 1px solid #FFF
    padding: 4px
  thead tr .header
    cursor: pointer
  tbody
    td
      color: #3D3D3D
      padding: 4px
      background-color: rgba(255,255,255,.5)
      vertical-align: center
      height: 2em
  thead tr
    .headerSortUp
      background-image: url(asc.gif)
    .headerSortDown
      background-image: url(desc.gif)
      background-color: #8dbdd8
    .headerSortUp
      background-color: #8dbdd8

input
  border-radius: 5px
