%h1 Privacy Policy & T&Cs

%div
  :textile
    h2. Terms and Conditions

    This site is provided on an as-available basis and with absolutely no warranty.  I take no responsibility for anything that happens as a result or using or attempting to use this - no, not even if you lose a leg.

    My use of the Steam APIs is governed by the "Steam API Terms of Use":http://steamcommunity.com/dev/apiterms


    h2. Privacy Policy

    Your steamId64 value is stored with the most recent access timestamp for logging and capacity reasons, your steam nickname is also stored associated with this steamId64 for performance reasons.

    Any information processing by the server is performed on "Heroku's":http://heroku.com infrastructure and the location of the physical system can therefore vary.
