:textile
  h1. Privacy Policy & T&Cs
  
  h2. Terms and Conditions
  
  This site is provided on an as-available basis and with absolutely no warranty.  I take no responsibility for anything that happens as a result or using or attempting to use this - no, not even if you lose a leg.

  My use of the Steam APIs is governed by the "Steam API Terms of Use":http://steamcommunity.com/dev/apiterms


  h2. Privacy Policy

  No information about you is stored on the server hosting this application, your steam credentials are not processed by me at any time, and the identifier provided to me by the steam community is stored in a cookie on your PC.

  Any information processing by the server is performed on "Heroku's":http://heroku.com infrastructure and the location of the physical system can therefore vary.
