%h1
  =username
  \- Private Profile
  %img.avatar{:src => avatarUrl}

.container
  :textile
    Sorry! - Your profile is marked as private so I cannot retieve your backpack data.  You need to make your profile public to view your backpack on this site.
