%img.avatar{:src => avatarUrl}

%h1
  =username
  \- Private Profile

:textile
  Sorry! - Your profile is marked as private so I cannot retieve your backpack data.  You need to make your profile public to view your backpack on this site.
